body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-family: var(--font-body);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    user-select: none;
}
